

<br><br>
<form action="/sp_output/" method="post" id="sysForm" align='center' >{% csrf_token %}


<input type='text' placeholder="Starting Point" name="startp" style="font-size: 12pt; height: 40px; width:280px; " required><br><br>


<textarea placeholder="New_York London 4" name="input" style="font-size: 12pt; height: 400px; width:280px; "  required ></textarea><br><br>


<input type='text' placeholder="Ending Point" name="endp" style="font-size: 12pt; height: 40px; width:280px; " required ><br><br>

<input type='submit' action='submit' value='SUBMIT' style="font-size: 15pt; height: 40px; width:280px; ">
</form>


